﻿@using TestUngDung.Common
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Admin - @ViewBag.Title
    </title>
    <link rel="shortcut icon" href="~/Assets/admin/images/logo-mb.png" type="image/png">
    <!-- GOOGLE FONT -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <!-- BOXICONS -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <!-- APP CSS -->
    <link rel="stylesheet" href="~/Assets/admin/css/grid.css">
    <link rel="stylesheet" href="~/Assets/admin/css/app.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        a {
            text-decoration: none;
        }

        .table td {
            vertical-align: initial;
        }

        .counter-info {
            font-size: 1.5rem;
        }
    </style>
</head>

<body>

    <!-- SIDEBAR -->
    <div class="sidebar">
        <div class="sidebar-logo">
            <img src="~/Assets/admin/images/logo-lg.png" alt="Comapny logo">
            <div class="sidebar-close" id="sidebar-close">
                <i class='bx bx-left-arrow-alt'></i>
            </div>
        </div>
        <div class="sidebar-user">
            <div class="sidebar-user-info">
                <img src="~/Assets/admin/images/user-image.png" alt="User picture" class="profile-image">
                <div class="sidebar-user-name">
                    @{
                        var session = Session[Constants.USER_SESSION];
                    }
                    @if (session != null)
                    {@session;
                }
                </div>
            </div>
            <a href="@Url.Action("Logout", "Home")" class='btn btn-outline'>
                <i class='bx bx-log-out bx-flip-horizontal'></i>
            </a>
        </div>
        <hr />
        <!-- SIDEBAR MENU -->
        <ul class="sidebar-menu">
            <li>
                <a href="~/Admin/Product">
                    <i class='bx bx-shopping-bag'></i>
                    <span>Sản Phẩm</span>
                </a>
            </li>
            <li>
                <a href="~/Admin/User">
                    <i class='bx bx-user-circle'></i>
                    <span>Tài Khoản</span>
                </a>
            </li>
        </ul>
        <!-- END SIDEBAR MENU -->
    </div>
    <div class="main" style="margin: 10px 20px 0 20px">
        @if (TempData["AlertMessage"] != null)
        {
            <div id="AlertBox" class="Alert @TempData["AlertType"]" style="padding:20px;">
                @TempData["AlertMessage"]
            </div>
        }
        @RenderBody()
    </div>
    <!-- END MAIN CONTENT -->

    <div class="overlay"></div>

    <!-- SCRIPT -->
    <!-- APEX CHART -->
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <!-- APP JS -->
    <script src="/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>