﻿@model ModelEF.Model.Product

@{
    ViewBag.Title = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<header><h3>Quản Lý Sản Phẩm</h3></header>
<a href="@Url.Action("Index", "Product")" style="float:left; background-color: blue; color: white" class="btn">Quay Lại</a>
<br />
<br />
<div>
    <table class="table">
        <tr>
            <th scope="row"> @Html.DisplayNameFor(model => model.ID)</th>
            <td>@Html.DisplayFor(model => model.ID)</td>
        </tr>
        <tr>
            <th scope="row"> @Html.DisplayNameFor(model => model.Name)</th>
            <td>@Html.DisplayFor(model => model.Name)</td>
        </tr>
        <tr>
            <th scope="row">@Html.DisplayNameFor(model => model.Image)</th>
            <td><img src="~/Assets/admin/images/image_SP/@Model.Image" alt="@Model.Image" style="  width:70px; height:70px;  " /></td>
        </tr>
        <tr>
            <th scope="row"> @Html.DisplayNameFor(model => model.UnitCost)</th>
            <td>@Html.DisplayFor(model => model.UnitCost) VNĐ</td>
        </tr>
        <tr>
            <th scope="row"> @Html.DisplayNameFor(model => model.Category.Name)</th>
            <td>@Html.DisplayFor(model => model.Category.Name)</td>
        </tr>
        <tr>
            <th scope="row"> @Html.DisplayNameFor(model => model.Quantity)</th>
            <td>@Html.DisplayFor(model => model.Quantity)</td>
        </tr>
        <tr>
            <th scope="row"> @Html.DisplayNameFor(model => model.Status)</th>
            <td>@Html.DisplayFor(model => model.Status)</td>
        </tr>
    </table>
</div>
<div class="d-flex justify-content-center">
    <a class=" col-1 btn btn btn-danger" href="~/Admin/Product/Create" style="background-color:red; color: white; margin: 0 20px;">Tạo mới</a>
    <a class=" col-1 btn btn btn-secondary" href="~/Admin/Product/Edit/@Model.ID" style="float:left; background-color: dimgrey; color: white; margin: 0 20px;">Sửa</a>
</div>
