﻿@using PagedList.Mvc
@model PagedList.IPagedList<ModelEF.Model.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<header><h3>Quản Lý Sản Phẩm</h3></header>
<a href="@Url.Action("Create", "Product")" style="float:left; background-color: blue; color: white" class="btn">Tạo mới</a>
@using (Html.BeginForm("Index", "Product", FormMethod.Get))
{
    <div class="col-md-6" style="float:left">
        <div class="input-group mb-3">
            <input type="text" class="form-control" value="@ViewBag.Se" placeholder="Nhập tên sản phẩm để tìm kiếm" name="search"> &nbsp;
            <div class="input-group-append">
                <button class="btn btn-success" type="submit">Tìm Kiếm</button>
            </div>
        </div>
    </div>
}
<table class="table">
    <tr>
        <th>STT</th>
        <th>ID</th>
        <th>
            Tên Sản Phẩm
        </th>
        <th>
            Giá Bán
        </th>
        <th>
            Số Lượng
        </th>
        <th>
            Loại Sản Phẩm
        </th>
        <th>Thao Tác</th>
    </tr>
    @{ int i = 1;}
    @foreach (var item in Model)
    {
        <tr>
            <td>@i</td>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                <p style="width: 200px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">@Html.DisplayFor(modelItem => item.Name)</p>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitCost) VNĐ
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td class="row"  id="row_@item.ID">
                <a class=" col-sm btn btn-primary" href="~/Admin/Product/Detail/@item.ID" style="float: left;background-color: blue;color: white; margin:0 5px;">Chi Tiết</a>
                <a class=" col-sm btn btn btn-secondary" href="~/Admin/Product/Edit/@item.ID" style="float:left; background-color: dimgrey; color: white; margin: 0 5px;">Sửa</a>
            </td>
        </tr>
        i++;
    }

</table>
<div class="d-flex justify-content-center">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @search = @ViewBag.Se }), new PagedListRenderOptions
{
    LiElementClasses = new string[] { "btn btn-outline-primary" }
})
</div>
