﻿@model ModelEF.Model.UserAccount

@{
    ViewBag.Title = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}<header><h3>Quản Lý Người Dùng</h3></header>
<a href="@Url.Action("Index", "User")" style="background-color: blue; color: white" class="btn col-1">Quay lại</a>
<div>
    <hr />
    <table class="table">
        <tbody>
            <tr>
                <th scope="row"> @Html.DisplayNameFor(model => model.Name)</th>
                <td>@Html.DisplayFor(model => model.Name)</td>
            </tr>
            <tr>
                <th scope="row">@Html.DisplayNameFor(model => model.UserName)</th>
                <td>@Html.DisplayFor(model => model.UserName)</td>
            </tr>
            <tr>
                <th scope="row">@Html.DisplayNameFor(model => model.Status)</th>
                <td>@Html.DisplayFor(model => model.Status)</td>
            </tr>
        </tbody>
    </table>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10 d-flex justify-content-center">
                <input type="submit" style="background-color: brown; color: white" value="Xóa" class="btn col-1" />
            </div>
        </div>
    }
</div>
