﻿@using PagedList.Mvc
@model PagedList.IPagedList<ModelEF.Model.UserAccount>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<header><h3>Quản Lý Người Dùng</h3></header>
<a href="@Url.Action("Create", "User")" style="float:left; background-color: blue; color: white" class="btn">Tạo mới</a>
@using (Html.BeginForm("Index", "User", FormMethod.Get))
{
    <div class="col-md-6" style="float:left">
        <div class="input-group mb-3">
            <input type="text" class="form-control" value="@ViewBag.Se" placeholder="Nhập email để tìm kiếm" name="search"> &nbsp;
            <div class="input-group-append">
                <button class="btn btn-success" type="submit">Tìm Kiếm</button>
            </div>
        </div>
    </div>
}
<table class="table">
    <tr>
        <th>STT</th>
        <th>
            Họ tên
        </th>
        <th>
            User name
        </th>
        <th>
            Trạng Thái
        </th>
        <th>
            Thao tác
        </th>
    </tr>
    @{ var i = 1;}
    @foreach (var item in Model)
    {
        <tr>
            <td>@i</td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td id="deleteRecord">
                <a class="col-sm btn btn btn-danger" id="@item.ID" href="/User/Delete">Xóa người dùng</a>
            </td>
        </tr>
        i++;
    }
</table>
<div class="d-flex justify-content-center">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @search = @ViewBag.Se }), new PagedListRenderOptions
 {
     LiElementClasses = new string[] { "btn btn-outline-primary" }
 })
</div>
<script src="~/Assets/admin/js/jquery.js"></script>
<script>
    $(document).ready(function () {
        $('#deleteRecord a').click(function (e) {
            e.preventDefault();

            var id = $(this).attr("ID");

            var MSG = confirm("Bạn chắc chắn muốn xóa người dùng này?");

            if (MSG) {

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Delete")',
                    data: { id: id },
                    dataType: "json",
                    error: function () {
                        setTimeout(function () { location.reload(); }, 1000);
                    },
                    success: function () {
                        alert("Error while deleting data");
                    }
                });
            }
        })
    });
</script>