﻿@using ModelEF.DAO;
@model HomeContext
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="span9">
    @*<div class="well well-small">
            <h4>Latest Phone Products<small class="pull-right"></small></h4>
            <div class="row-fluid">
                <div id="featured" class="carousel slide">
                    <div class="carousel-inner">
                        @{ int x = 0;
                            int i = 1;
                            string tt = "item";
                            var main_hd = "<div class='@tt'><ul class='thumbnails'>";
                            var main_ft = "</ul></div>";
                        }
                        @foreach (var item in Model.Phone)
                        {
                            if (i == 1)
                            {
                                tt = "item active";
                            }
                            if (x % 4 == 0)
                            {
                               @main_hd;
                            }
                            <li class="span3">
                                <div class="thumbnail">
                                    <i class="tag"></i>
                                    <a href="product_details.html"><img src="/Assets/user/images/products/b4.jpg" alt=""></a>
                                    <div class="caption">
                                        <h5>Product name</h5>
                                        <h4><a class="btn" href="product_details.html">VIEW</a> <span class="pull-right">$222.00</span></h4>
                                    </div>
                                </div>
                            </li>
                            if (x % 4 == 0)
                            {
                                @main_ft
                            }
                            x += 1;
                        }
                    </div>
                    <a class="left carousel-control" href="#featured" data-slide="prev">‹</a>
                    <a class="right carousel-control" href="#featured" data-slide="next">›</a>
                </div>
            </div>
        </div>*@
    <div class="well well-small">
        <h4>Latest Phone Products</h4>
        <ul class="thumbnails">
            @foreach (var item in Model.Phone)
            {
                <li class="span3">
                    <div class="thumbnail">
                        <a href="product_details.html"><img src="~/Assets/admin/images/image_SP/@item.Image" alt="" style="width: 160px; height: 160px;" /></a>
                        <div class="caption">
                            <h5>@item.Name</h5>
                            <p>
                                @item.Description
                            </p>

                            <h4 style="text-align:center"><a class="btn" href="#"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">@item.UnitCost.ToString("#,##0") VNĐ</a></h4>
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
    <div class="well well-small">
        <h4>Latest Laptop Products</h4>
        <ul class="thumbnails">
            @foreach (var item in Model.Laptop)
            {
                <li class="span3">
                    <div class="thumbnail">
                        <a href="product_details.html"><img src="~/Assets/admin/images/image_SP/@item.Image" alt="" style="width: 160px; height: 160px;" /></a>
                        <div class="caption">
                            <h5>@item.Name</h5>
                            <p>
                                @item.Description
                            </p>

                            <h4 style="text-align:center"><a class="btn" href="#"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">@item.UnitCost.ToString("#,##0") VNĐ</a></h4>
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>
